@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
:root {
  --primary-color: #fdfdfd;
  --secondary-color: #ff0080;
  --third-color: #7928ca;
  --bg: #f1f1f1;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* ::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 24px;
} */

::selection {
  background-color: var(--secondary-color);
  color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}
a {
  color: black !important;
  text-decoration: none !important;
}
li {
  list-style: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: rgba(255, 0, 128, 1) !important;
  color: white !important;
  letter-spacing: 1px;
}
.btn i {
  display: inline-block;
  width: 30px;
  transition: 0.2s;
  font-weight: 900;
}
.btn:hover i {
  padding-left: 10px;
}
.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  scale: 0.5 !important;
  width: 80px !important;
  height: 80px !important;
  top: var(--swiper-navigation-top-offset, 40%) !important;
  color: var(--secondary-color) !important;
  border-radius: 50% !important;
  border: 2px solid var(--secondary-color) !important;
  transition: 0.3s !important;
}
.swiper-button-disabled {
  pointer-events: auto !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--secondary-color) !important;
  color: #fff !important;
}
